table, th, td {
  margin-left: auto;margin-right:auto;
  padding: 10px;
  border: 2px solid #227ca0;
  border-spacing: 2px;
  text-align: center;
  border-radius: 3px;

}

th {
  text-decoration: underline;
  font-size: 22px;
  color: black;
}

header {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  background-image: linear-gradient(to left, #a1e7f4, #227ca0);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

label {
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
}

#p1 {
  text-align: center;
  border-radius: 25px;
}

#Amount {
  border-radius: 5px;
}


